$blue: #4361ee;

.root {
  background-color: #fff;
  border: 1px solid #dedede00;
  border-radius: 6px;
  overflow: hidden;
  position: relative;

  &:hover {
  border: 1px solid $blue;
  box-shadow: 0 0 0 1px $blue;
  }
}

.wrapper {
  text-decoration: none;
}

.userName {
  font-weight: 500;
  font-size: 18px;
  color: black;
  }

.additional {
  font-size: 16px;
  opacity: 1;
}

.userDetail {
  margin-left: 15px;
  width: 100%;
  &:hover {
    opacity: 0.8;
  }
}

.nameContainer {
  display: flex;
  align-items: center;
}
