$blue: #4361ee;

.root {
    background-color: #fff;
    border: 1px solid #dedede00;
    border-radius: 6px;
    overflow: hidden;
    position: relative;

    &:hover {
    border: 1px solid $blue;
    box-shadow: 0 0 0 1px $blue;

    .editButtons {
        opacity: 1;
        }
    }
}

.editButtons {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

.showButtons {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  opacity: 1;
  transition: all 0.15s ease-in-out;
}

.userName {
  font-weight: 500;
  font-size: 18px;
}

.additional {
  font-size: 16px;
  opacity: 1;
}

.userDetail {
  margin-left: 15px;
}

.answerFor {
  font-size: 18px;
  opacity: 0.6;
  padding-left: 8px;
}

.answerForContainer {
  display: flex;
  align-items: center;
}

.createdAt {
  font-size: 18px;
  opacity: 0.6;
  padding-left: 8px;
}

.countChild {
  font-size: 18px;
  opacity: 0.6;
}
